name: Build

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  get-flutter-version:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    outputs:
      flutter-version: ${{ steps.get-flutter-version.outputs.version }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Get Flutter version from .fvmrc
        id: get-flutter-version
        run: >
          echo version=$(grep flutter .fvmrc | cut -d ':' -f 2 | cut -d '"' -f 2)
          >> $GITHUB_OUTPUT

  get-build-name:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    outputs:
      build-name: ${{ steps.get-build-name.outputs.build-name }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Get build name
        id: get-build-name
        run: |
          build_name=$(grep version pubspec.yaml | sed 's/[^0-9]*\([0-9.]*\).*/\1/')
          echo build-name=$build_name >> $GITHUB_OUTPUT

  get-build-number:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    outputs:
      build-number: ${{ steps.get-build-number.outputs.build-number }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Get build number
        id: get-build-number
        run: |
          build_number=$(grep version pubspec.yaml | cut -d '+' -f 2)
          echo build-number=$build_number >> $GITHUB_OUTPUT

  build-apk:
    runs-on: ubuntu-latest

    needs:
      - get-flutter-version
      - get-build-number

    permissions:
      contents: write

    env:
      APK_BUILD_DIR: /tmp/build

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Remove unused files
        run: rm -rf /opt/hostedtoolcache

      - name: Copy files to env.APK_BUILD_DIR
        run: |
          mkdir -p $APK_BUILD_DIR
          cp -r . $APK_BUILD_DIR

      - name: Install Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          channel: stable
          flutter-version: ${{ needs.get-flutter-version.outputs.flutter-version }}
          cache: true
          pub-cache-path: ${{ env.APK_BUILD_DIR }}/.pub-cache

      - name: Get dependencies
        working-directory: ${{ env.APK_BUILD_DIR }}
        run: flutter pub get

      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: zulu
          java-version: 17
          cache: gradle

      - name: Dump keystore
        uses: timheuer/base64-to-file@784a1a4a994315802b7d8e2084e116e783d157be # v1.2.4
        with:
          fileName: upload.keystore
          fileDir: ${{ env.APK_BUILD_DIR }}/android/app/
          encodedString: ${{ secrets.UPLOAD_KEYSTORE }}

      - name: Move Rust toolchain to /tmp
        run: mv $HOME/.cargo /tmp

      - name: Build APK
        working-directory: ${{ env.APK_BUILD_DIR }}
        env:
          HOME: /tmp
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
        run: flutter build apk --split-per-abi

      - name: Rename APK
        working-directory: ${{ env.APK_BUILD_DIR }}/build/app/outputs/apk/release
        run: |
          mv app-armeabi-v7a-release.apk aria-${{ github.ref_name }}-armeabi-v7a.apk
          mv app-arm64-v8a-release.apk aria-${{ github.ref_name }}-arm64-v8a.apk
          mv app-x86_64-release.apk aria-${{ github.ref_name }}-x86_64.apk

      - name: Upload APK
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: APK
          path: |
            ${{ env.APK_BUILD_DIR }}/build/app/outputs/apk/release/aria-${{ github.ref_name }}-armeabi-v7a.apk
            ${{ env.APK_BUILD_DIR }}/build/app/outputs/apk/release/aria-${{ github.ref_name }}-arm64-v8a.apk
            ${{ env.APK_BUILD_DIR }}/build/app/outputs/apk/release/aria-${{ github.ref_name }}-x86_64.apk

      - name: Release APK
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: |
            ${{ env.APK_BUILD_DIR }}/build/app/outputs/apk/release/aria-${{ github.ref_name }}-armeabi-v7a.apk
            ${{ env.APK_BUILD_DIR }}/build/app/outputs/apk/release/aria-${{ github.ref_name }}-arm64-v8a.apk
            ${{ env.APK_BUILD_DIR }}/build/app/outputs/apk/release/aria-${{ github.ref_name }}-x86_64.apk
          draft: true

      - name: Check version codes
        working-directory: ${{ env.APK_BUILD_DIR }}/build/app/outputs/apk/release
        run: |
          check_version_code() {
            summary=$(
              $ANDROID_HOME/cmdline-tools/latest/bin/apkanalyzer apk summary \
                aria-${{ github.ref_name }}-$1.apk
            )
            echo aria-${{ github.ref_name }}-$1.apk: $summary
            version_code=$(echo $summary | cut -d ' ' -f 2)
            if [ $version_code -ne $2 ]; then
              echo ::error::Invalid version code. Expected: $2. Actual: $version_code.
              exit 1
            fi
          }
          check_version_code armeabi-v7a ${{ needs.get-build-number.outputs.build-number }}2
          check_version_code arm64-v8a ${{ needs.get-build-number.outputs.build-number }}3
          check_version_code x86_64 ${{ needs.get-build-number.outputs.build-number }}1
